
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

  <div id="app">

    <p>{{titulo}}</p>


  </div>
  
  <div id="padre">


    
  <div id="ejercicio1" class="container" >
   
    <generic-container  :title="title" :data="data" >
    
      
      <!-- Agregar aquí la estructura HTML específica del ejercicio -->
    </generic-container>
    
  </div>

  <div id="ejercicio2"   class="container" >
    <generic-container  :title="title" :data="data" >

 <br>
      <label for="inputRadio">ingrese el radio del circulo</label>
      <input type="number" id="inputRadio" v-model='data.radio'>
      <button v-on:click="calcularArea">Resultado</button>
      <br>
      <h4 v-if="data.mostrar==true">el area del circulo es: {{calcularArea()}}</h4>
     
      
     
    </generic-container>
  
  
    
  </div>

  <div id="ejercicio3"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio4"  class="container" >
    <generic-container :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio5"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio6"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio7"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio8"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio9"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio10"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio11"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio12"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio13"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio14"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio15"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio16"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio17"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio18"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio19"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio20"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio21"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio22"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio23"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio24"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio25"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio26"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio27"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio28"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio29"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>
  <div id="ejercicio30"  class="container" >
    <generic-container  :title="title" :data="data" >
      
     
    </generic-container>
  
  </div>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="./main.js"></script>

</body>
</html>